<div class="page-header">

  <div class = "col-md-1 pull-right">
    <%= link_to 'New Task', new_task_path, class: "btn btn-info btn-md" %>
  </div>

  <div class = "col-md-2 pull-right">
    <%= link_to "All", tasks_path %>
    |
    <%= link_to "Incomplete", tasks_path(filter_params({completed: false})) %>
    <!-- {completed: false} is the filter object that goes through the method filter_params -->
  </div>

  <h1>Tasks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due Date</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="col-md-4"><%= task.description %></td>
        <td class="col-md-4"><%= task.completed %></td>
        <td class="col-md-4"><%= task.due_date %></td>

        <td><%= link_to 'Show', task, class: "btn btn-success btn-md" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-info btn-md"  %></td>
        <td><%= link_to 'Delete', task, class: "btn btn-danger btn-md", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
