<% if notice %>
  <div id="notice" class="alert alert-success text-center" role="alert"><%= notice %></div>
<% end %>

<div class="page-header">

  <div class = "col-md-1 pull-right">
    <%= link_to 'New User', new_user_path, class: "btn btn-info btn-md" %>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
