<!DOCTYPE html>
<html>
<head>
  <title>GCampHelenlam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse"  role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            gCamp
          </a>
        </div>
      </div>



      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- /.container-fluid -->
    </nav>

<div class="container">
    <%= yield %>
    <!-- everything you put in your html.erb shows up in yield -->
</div>

<div class="container">


    <footer>
      <hr>
      <%= link_to "About", about_path %> |
      <%= link_to "Terms", terms_path %> |
      <%= link_to "FAQ", faqs_path %> |
      <%= link_to "Tasks", tasks_path %> |
      <%= link_to "Users", users_path %>
    </footer>
  </div>

  </div>
</body>
</html>
